@import '../../main-constant'


.container-wrap-characters
  .title-characters
    background-color: #fff
    padding: 18px 15px
    z-index: 5
    position: relative
    border-bottom: 1px solid $light-grey
    cursor: pointer
    & .close-btn
      background-color: #fff
      width: 40px
      height: 40px
      border-radius: 50%
      & > svg
        width: 100%
        height: 100%
        fill: $main-color
        transition: transform .5s ease
    & > div > p
      font-size: 1.6rem
      line-height: 2
      font-weight: 600
  .drop-down-items
    height: 0
    overflow: hidden
    opacity: 0
    transition: opacity .2s ease, height .4s ease
    & > ul
      padding-top: 20px


.active
  & .title-characters
    & .close-btn
      & > svg
        transform: rotate(180deg)
  & .drop-down-items
    opacity: 1





.drop-down-items
  margin-top: -20px
  border-radius: 0px 0px 7px 7px
  background-color: #fff
  padding-top: 20px
  & > ul > div > div > p
    font-size: 1.35rem
    font-weight: 500
    padding-top: 10px
  & > ul > div > div > div
    padding: 10px 20px
    background-color: #fff
    & > div > p
      font-weight: 600


/*-----Media Queries------*/
@media screen and (max-width: 700px)
  .container-wrap-characters
    .title-characters
      & .close-btn
        width: 30px
        height: 30px
      & > div > p
        font-size: 1.3rem
      & > ul
        padding-top: 20px
  .drop-down-items
    & > ul > div > div > p
      font-size: 1.15rem
    & > ul > div > div > div
      font-size: .9rem



@media screen and (max-width: 600px)
  .container-wrap-characters
    .title-characters
      & .close-btn
        width: 20px
        height: 20px
      & > div > p
        font-size: 1rem
      & > ul
        padding-top: 20px
  .drop-down-items
    & > ul > div > div > p
      font-size: 1rem
    & > ul > div > div > div
      font-size: .9rem

