@import '../../main-constant'



.wrap-image-preview
  padding-top: 30px
  & > div
    & > .view-image-wrap
      height: 400px
      & > div
        height: 100%
        & > div
          height: 100%
          & > div
            height: 100%
            & > div
              height: 100%
              & > div
                height: 100%
                & > div
                  height: 100%

.bread-crumbs
  padding: 1.5em 0
  border-bottom: 1px solid $light-grey
  & p
    & a
      color: $blue!important
      &:hover
        color: $main-color!important
        text-decoration: underline!important
      &:after
        content: ""
        display: inline-block
        width: 15px
        vertical-align: middle
        height: 15px
        margin: 0 .5rem
        background-image: url(/icons/ios-arrow-right-blue.svg)
        background-size: contain
    &:last-child
      & a:after
        content: ""
        display: none


.product-info-review-block
  & > div:first-child
    & p:first-child
      font-size: 1.7rem
  & .review-block
    & .rating-block
      & button
        border: none
        background-color: transparent
        outline: none!important
        margin-right: 5px
        & svg
          transition: all .3s ease
          &:hover
            fill: #ffbf00
    & .reviews-info
      & button
        border: none
        background-color: transparent
        outline: none
        padding-right: 10px
        padding-left: 10px
        color: $blue
        border-right: 1px solid $light-grey
        &:hover
          color: $main-color
          text-decoration: underline!important


.add_cart
  display: flex
  align-items: center
  padding: 15px
  justify-content: center
  margin-bottom: 15px
  color: $main-color

.top-product-wrap
  & > div
    & > .view-image-wrap
      overflow: hidden
      cursor: pointer
      & > div:first-child
        &:hover button > svg
          fill: $main-color
        & > button
          border: none
          background-color: transparent
          z-index: 8
          outline: none
          right: 20px
          top: 20px
          & svg
            transition: all .3s ease
            fill: $blue
            width: 25px
            height: 25px

.slider-nav
  & > div
    & > div
      width: 80px
      height: 80px
      border: 1px solid $light-grey
      border-radius: 7px
      margin: 10px
      overflow: hidden
      cursor: pointer
      & img
        width: 100%
        height: 100%
        object-fit: contain
      &:hover
        border-color: $blue
      &.active
        border-color: $blue

.info-product-cost-variations
  padding-top: 30px
  & .block-payment-buy
    border-bottom: 1px solid $light-grey
    padding-bottom: 10px
    & .text-cost
      font-weight: 600
      font-size: 1.5rem
    & button
      display: flex
      border-radius: 5px
      width: 100%
      padding: 15px
      justify-content: center
      margin-bottom: 15px



.variations-title-block
  padding: 10px
  border-top: 1px solid $light-grey
  border-bottom: 1px solid $light-grey
  & p
    color: $black
    font-weight: 500
    font-size: 1.1rem



.variations-block
  border-bottom: 1px solid $light-grey
  & > div
    & > p
      font-size: 1.2rem
  & .block-colors
    display: flex
    flex-wrap: wrap
    & .item-color
      border: 1px solid $blue
      padding: 10px
      border-radius: 5px
      &.item_active
        background-color: $main-color
        color: #fff
        border-color: $main-color
      & > div
        & > p
          font-size: .9rem
          white-space: nowrap
          text-overflow: ellipsis
          overflow: hidden
          font-weight: 600
      &.active
        background-color: $main-color
        color: $white-color!important
      & > p
        font-size: .8rem
      & .color-palet
        width: 20px
        height: 20px
        border-radius: 5px
        border: 1px solid $light-grey
        margin: 0 auto


.buttons-save-compare
  & button:first-child
    margin-right: 10px


.spinner-button
  position: absolute
  right: 10px
  border: .25em solid $light-grey!important
  border-right-color: transparent!important


.btn-more-view
  border: 1px solid #939393
  border-radius: 50%
  width: 50px
  height: 50px
  background-color: transparent
  & > svg
    fill: $blue
  &:hover
    border-color: $blue


.refund-conditions
  background-color: #f4f6f9
  padding: 15px
  border-radius: 3px
  & .icon
    width: 30px
    height: 30px
    margin-right: 15px
    & svg
      width: 100%
      height: 100%


.conditions-delivery
  border-bottom: 1px solid $light-grey
  & > div
    display: flex
    align-items: center
    padding: 7px 0px
    & .icon
      width: 30px
      height: 30px
      margin-right: 10px
      & svg
        width: 100%
        height: 100%
    & p
      margin-bottom: 0
      font-weight: bold
      color: $black
      & span
        font-weight: normal


/*---------Media Queries--------*/

@media screen and (max-width: 992px)
  .info-product-cost-variations
    & .block-payment-buy
      border-bottom: none
  .view-image-wrap
    margin-top: 15px

@media screen and (max-width: 700px)
  .bread-crumbs
    & p
      font-size: .9rem
  .product-info-review-block
    padding-top: 20px
    & > div:first-child
      & p:first-child
        font-size: 1.4rem
    & .review-block
      & .rating-block
        & button
          border: none
          background-color: transparent
          outline: none!important
          margin-right: 5px
          & svg
            transition: all .3s ease
            &:hover
              fill: #ffbf00
      & .reviews-info
        & button, & p
          font-size: .9rem
  .info-product-cost-variations
    & .block-payment-buy
      & .text-cost
        font-size: 1.3rem
  .variations-block
    & > div
      & > p
        font-size: 1rem
  .rating-block
    & button
      width: 13px
      height: 11px
      & svg
        width: 100%
        height: 100%


@media screen and (max-width: 600px)
  .slider-nav
    & > div
      & > div
        width: 60px
        height: 60px
  .btn-more-view
    width: 40px
    height: 40px
  .bread-crumbs
    & p
      font-size: .8rem
  .product-info-review-block
    & h3
      font-size: 1.5rem
    & .review-block
      & .reviews-info
        & button, & p
          font-size: .7rem
  .view_refund-conditions
    font-size: .9rem
  .variations-title-block
    & p
      font-size: 1rem
  .conditions-delivery > div p
    font-size: .8rem
  .description-block
    & h2
      font-size: 1.5rem



