@import '../../main-constant'

.header-title-invoice
  padding: 15px
  background-color: $light-grey
  & > div
    height: 40px
  & > h3
    color: #fff

.track-order-details
  & > div
    & > p:last-child
      color: $blue

.billing-details
  & > p
    color: $light-grey
    text-transform: uppercase
    font-weight: 600

.button-print
  padding: 10px
  color: #fff
  margin: 15px auto
  display: block


.info-order-track
  flex-direction: column
  justify-content: center
  align-items: center
  margin: 150px auto



.title-order-list
  padding: 15px 5px
  border: 1px solid $light-grey
  border-left: 5px solid $blue
  &  >div:first-child
    & p > span
      color: $blue
  & > div:last-child
    & p
      color: $blue

.list-products
  border: 1px solid $light-grey
  border-top: 0px
  & .watch-delivery-status
    & p:first-child
      color: $main-second-color
      font-weight: bold
    & p:last-child
      font-size: .9rem
    & > div
      height: 10px!important
      border-radius: 25px
      box-shadow: inset 0px 0px 3px rgb(0, 0, 0, .3)
      & > div
        background: $main-second-color

.tabs
  border-bottom: 1px solid $light-grey
  & button
    background: transparent
    border: none
    outline: none
    padding: 5px 10px
    position: relative
    &:before
      content: ''
      position: absolute
      height: 2px
      width: 0
      background: $blue
      bottom: 0
      left: 50%
      transition: all .3s ease
      transform: translateX(-50%)
      padding: 0
    &.active
      font-weight: bold
      color: $blue
      &:before
        content: ''
        position: absolute
        height: 2px
        background: $blue
        bottom: 0
        left: 50%
        transform: translateX(-50%)
        padding-right: 50%
        padding-left: 50%

/*--------- Orders Canceled ----------*/
.orders-canceled
  min-height: 200px
  padding: 15px 0px




/*-------Media Queries-----------*/
@media screen and (max-width: 600px)
  .list-products
    & p
      font-size: .9rem

@media print
  .button-print
    display: none



