@import '../../main-constant'



.main-container
  border-bottom: 1px solid $grey-blue

.item-tracker-value
  &:after
    content: ''
    width: 20px
    height: 6px
    background-color: $grey-blue
    border-radius: 8px
    display: inline-block
    margin-top: 13px
    margin-left: 8px
    margin-right: 8px
  &:last-child
    &:after
      display: none
  &.active
    & > div
      background-color: $blue
      color: #fff
      font-weight: 600
    & > p
      font-weight: 600
  &  > div:first-child
    width: 30px
    height: 30px
    border-radius: 50%
    border: 1px solid $grey-blue
    text-align: center
    & > span
      vertical-align: sub
  & > p
    line-height: 2
    margin-left: 5px
    color: $grey-333


/*-----------Media Queries------------------*/
@media screen and (max-width: 600px)
  .main-container
    h1
      font-size: 2rem
  .item-tracker-value
    & > div:first-child
      width: 25px
      height: 25px
      & > span
        font-size: .9rem
        vertical-align: bottom
    & p
      font-size: .9rem
    &:after
      content: ''
      margin-top: 10px
      width: 15px
      height: 4px


@media screen and (max-width: 450px)
  .item-tracker-value
    & > div:first-child
      width: 20px
      height: 20px
      & > span
        font-size: .8rem
        vertical-align: baseline
    & p
      font-size: .8rem
    &:after
      content: ''
      margin-top: 10px
      width: 10px
      margin-left: 4px
      margin-right: 4px


@media screen and (max-width: 360px)
  .item-tracker-value
    & > div:first-child
      & > span
        vertical-align: super
    & p
      font-size: .7rem

