@import '../../main-constant'

.feed-back-items
  & > a:hover .item-feed-back
    border: 1px solid $blue
    transition: all .3s ease


.item-feed-back
  border: 1px solid #e0e6ef
  background-color: #fff
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 16%)
  border-radius: 4px
  padding: 15px
  & > p
    color: $grey-333
  & > div
    & svg
      width: 40px
      height: 40px
      fill: $blue
    & p
      color: $blue
      font-size: 1.3rem
