@import '../../main-constant'

.block-categories-list
  background-color: #f4f6f9


.categories-list
  & .item-category-help
    border: 1px solid #e0e6ef
    background-color: #fff
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 16%)
    border-radius: 4px
    & svg
      fill: $blue
      width: 30px
      height: 30px
    & .bot-line
      height: 1px
      width: 70px
      background-color: $grey-333
  & .list-child-links
    & p:last-child
      margin-bottom: 10px!important
