@import '../../main-constant'


.wrap-side-bar
  min-height: 600px
  & .categories-list
    & li
      & a
        display: block
        padding: 6px 0px
      &.active
        & > a
          color: #fff
          background-color: $blue
