@import '../main-constant'


.bread-crumbs
  padding: 1.5em 0
  & > hr
    background-color: $light-grey
  & > div
    display: flex
    & > p
      &:after
        content: ""
        display: inline-block
        width: 15px
        vertical-align: middle
        height: 15px
        margin: 0 .5rem
        background-image: url(/icons/ios-arrow-right-blue.svg)
        background-size: contain
      &:last-child:after
        content: ""
        display: none
      & > a
        color: $blue!important
        &:hover
          color: $main-color!important
          text-decoration: underline!important


@media screen and (max-width: 700px)
  .bread-crumbs
    padding: 1.5em 0
    & > div
      & > p
        font-size: .9rem
