@import '../main-constant'

.pagination_link
  display: flex
  & > li
    padding: 0px 10px
    & a
      color: $main-color
      transition: all .3s ease
      &:hover
        color: $blue
    & .active_page
      color: $blue
      font-weight: bold
