@import '../../main-constant'

.title-characters-table
  background-color: #333333
  padding: 10px 15px
  & > h3
    color: #fff
    font-weight: bold
    padding-right: 10px
    border-right: 2px solid #fff
  & .check-box
    width: 20px
    height: 20px
    background: white
    border-radius: 5px
    margin: 0px 10px
    cursor: pointer
    & > svg
      vertical-align: baseline
      width: 100%
      height: 100%
      fill: $main-second-color
  & > div > p
    color: #fff


.attributes-table-groups
  & > div
    padding: 10px 0px
    & > p
      font-weight: bold
      font-size: 1.5rem
    & > div
      padding: 15px
      background-color: #EFF7FF
      margin: 20px 0px
      & .item-attribute-group
        margin: 10px 0px
        & > p
          font-weight: bold
          margin-bottom: 5px
        & > div
          background-color: #fff
          & .item-character-compare
            padding: 7px
            border-right: 2px solid #EFF7FF

.light-diferent
  background-color: rgba(61,231,188, .4)



/*-------Media Queries-------------*/
@media screen and (max-width: 600px)
  .title-characters-table
    & h3
      border: none
      margin-bottom: 10px!important
    & .check-box
      margin-left: 0
  .attributes-table-groups
    & > div
      & > p
        font-size: 1.3rem
      & > div
        & > div
          & > p
            font-size: .9rem
      & .item-character-compare
        & p
          font-size: .9rem



@media screen and (max-width: 400px)
  .title-characters-table
    & h3
      font-size: 1.4rem
    & > div
      & p
        font-size: .9rem
      & .check-box
        margin-left: 0
