@import '../../main-constant'

.compare-list-carousel
  & .item-compare-slide
    padding: 20px 15px 0px


.block-sticky
  position: sticky!important
  top: 0
  z-index: 8
  background-color: #fff


.btn-controls-carousel
  position: absolute
  top: 30%
  transform: translateY(-50%)
  background-color: transparent
  border: none
  z-index: 5
  & > svg
    fill: $blue
    width: 30px
    height: 40px
  &.btn-left
    left: 0
  &.btn-right
    right: 0
  &.hide-btn
    & > svg
      fill: $light-grey!important

.compare-image
  & > .picture-block
    padding: 10px
    & > div
      height: 200px
      & img
        object-fit: contain
    & .delete-compare
      display: none
    & p
      display: none
  & > button
    background: transparent
    border: none
    margin: 0 auto
    display: block
    color: $blue
    &:hover
      text-decoration: underline


.description-compare
  & > p:first-child
    display: -webkit-box
    -webkit-line-clamp: 1
    height: 25px
    margin-bottom: 10px!important
    -webkit-box-orient: vertical
    overflow: hidden
  & a
    font-size: 1.3rem
    font-weight: bold
    color: $blue!important
    &:hover
      text-decoration: underline!important


.prices-compare
  & > div
    & > p:first-child
      color: $light-2-grey
    & > p:last-child
      font-size: 1.2rem


.item-recently
  border-top: 35px solid $grey-blue
  border-left: 1px solid $grey-blue
  border-bottom: 15px solid $grey-blue
  padding: 15px!important
  &[data-id='0']
    border-left: 15px solid $grey-blue!important
    border-radius: 15px 0px 0px 0px

.button-add
  border-top: 35px solid $grey-blue
  border-radius: 0px 15px 0px 0px
  border-right: 15px solid $grey-blue
  border-bottom: 15px solid $grey-blue
  border-left: 1px solid $grey-blue
  &.button-add-sin
    border-left: 70px solid $grey-blue!important
    border-radius: 15px
  & > button
    width: 200px
    height: 200px
    border: 2px solid $blue
    color: $blue
    background-color: transparent
    font-weight: bold
    margin: 0 auto
    & > svg
      width: 40px
      height: 40px
    &[disabpled]
      color: $light-grey!important


.button-save-compare
  padding: 10px 15px
  width: 100%
  background-color: transparent
  justify-content: center
  transition: all .3s ease
  & > svg
    width: 20px
    height: 20px
    margin-right: 10px

.spinner-button
  position: absolute
  right: 10px
  border: .25em solid $light-grey!important
  border-right-color: transparent!important







.controls-recently-prod
  padding: 10px 0px
  & > button
    background-color: transparent
    border: none
    color: $blue
    &:hover
      text-decoration: underline


.button-back
  background-color: transparent
  border: none
  color: $blue
  margin: 15px 0px
  &:hover
    text-decoration: underline

.delete-compare
  z-index: 8
  position: relative
  background-color: transparent
  color: $blue
  width: 50px
  height: 50px
  border: none
  margin-left: auto
  display: block
  padding: 10px 0px
  & svg
    width: 100%
    height: 100%

.preloader-compare
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
  align-items: center
  display: none
  width: 100%
  height: 100%
  z-index: 3
  background: rgba(255,255,255,.7)
  & > div
    margin: 20% auto



/*------Compares block Sticky--------*/
.compares-products-stick
  border-bottom: 1px solid $light-grey
  & .item-compare-slide
    padding: 10px
    border-right: 1px solid $light-grey
    & .compare-image
      & .picture-block
        display: flex
        & > div
          width: 250px
          height: 100px
        & p
          display: block
      & > button
        display: none
    & .delete-compare
      padding: 0
      width: 30px
      height: 30px
    & .prices-compare
      & > div:first-child
        & > p:first-child
          display: none
      & p
        color: $black
        font-size: 1.3rem
    & .description-compare
      & p
        height: auto
        margin-bottom: 0!important
        &:first-child
          display: none
  & .btn-controls-carousel
    top: 40%






/*--------Media Queries----------*/
@media screen and (max-width: 992px)
  .compares-products-stick
    border-bottom: 1px solid $light-grey
    & .item-compare-slide
      border-right: 1px solid $light-grey
      padding: 10px
      & .button-save-compare
        display: none!important
      & > .delete-compare
        display: none
      & .compare-image
        & .picture-block
          display: flex
          padding: 0
          & > div
            height: 60px
            width: calc(100%/12*7)
            padding: 5px 10px
          & p
            width: calc(100%/12*5)
            font-size: .9rem
            display: -webkit-box
            -webkit-line-clamp: 2
            margin-bottom: 10px!important
            -webkit-box-orient: vertical
            overflow: hidden
        & > button
          display: none
      & .delete-compare
        width: 40px
        height: 40px
      & .prices-compare
        display: none
        & p
          color: $black
          font-size: 1.3rem
      & .description-compare
        display: none
        & p
          height: auto
          margin-bottom: 0!important
          &:first-child
            display: none
    & .btn-controls-carousel
      display: none
      top: 40%
  .compare-list-carousel
    & .item-compare-slide
      & p, & a
        font-size: 1rem!important
    & .compare-image
      margin-bottom: 15px
      & .picture-block
        & > div
          height: 150px
        & .delete-compare
          display: none
      & button
        font-size: .9rem




@media screen and (max-width: 600px)
  .title-compare-products
    font-size: 1.5rem
  .compares-products-stick
    & .item-compare-slide
      & .compare-image
        & .picture-block
          & p
            font-size: .9rem
      & .delete-compare
        width: 40px
        height: 40px
  .compare-list-carousel
    & .item-compare-slide
      padding: 10px 5px 0px
      & .delete-compare
        padding: 0
        width: 30px
        height: 30px
      & .compare-image
        & .picture-block
          padding: 0
          & > div
            height: 100px
          & button
            font-size: .8rem!important
      & p, & a
        font-size: .8rem!important
      & .description-compare
        & p:first-child
          height: 20px
