@import '../main-constant'

.header-wrap
  z-index: 10
  position: relative


.nav-bar
  background-color: $main-color
  &:first-child
    border-bottom: 1px solid rgba(255,255,255,.6)
  & .icon-brand
    width: 100px
    & img
      width: 100%
      height: 100%
      object-fit: contain
  & .form-search-wrap
    & .form-search-nav
      & input
        padding-right: 80px
        height: 40px
      & button
        right: 20px
        background-color: transparent!important
        color: $main-color
        border: none
        outline: none
        box-shadow: none!important
        & > svg
          transition: all .3s ease
          fill: $main-color
        &:hover
          & svg
            fill: $blue
  & .top-nav-link
    .dropdown-button-nav
      border-right: 1px solid #fff
      & div[aria-labelledby='dropdown-button-drop-languages']
        left: auto!important
        right: 0
        &:before
          content: ""
          position: absolute
          width: 0
          height: 0
          top: -6px
          left: 70px
          border: 10px solid transparent
          border-bottom-color: #fff
          border-top: 0
        & > div
          & > div
            padding: 5px 10px
            border-bottom: 1px solid $light-grey
            &:last-child
              border-bottom: none
            & > a
              font-size: .9rem
              padding: 0!important
              color: $black
              margin: 0
              display: block
              text-align: center
      & button
        background-color: transparent
        border: none
        outline: none
        box-shadow: none!important
        color: rgba(255,255,255,.5)!important
        &:after
          content: ''
          vertical-align: baseline!important
        &:active, &:focus
          background-color: transparent
          border: none
          outline: none
    & a
      color: #fff
      border-right: 1px solid #fff
      margin: 0px 15px 0px 0px
      padding-right: 15px!important
      &:hover
        color: #fff
      &:last-child
        border-right: none
        & span
          left: 16px
          padding: 0
          top: 12px
          position: absolute
          font-size: .9rem
          &.more
            &:after
              content: '+'
              display: inline
            left: 12px
      & > span
        padding-left: 10px
      & svg
        width: 25px
        height: 25px
      &.active
        & svg
          fill: $main-second-color
        & span
          color: $main-second-color
  & .toggle-button
    border: none
    outline: none
    font-size: 1rem
    & > span
      background-image: url("/icons/menu.svg")


.md-link
  color: $white-color!important
  margin: 0px 10px 0px 0px
  &:hover
    color: #fff!important
  & span
    position: absolute
    left: 40%
    top: 50%
    transform: translateY(-40%)
  &.active
    & > svg
      fill: $main-second-color
    & span
      font-size: .8rem
      left: 40%
      top: 50%
      transform: translateY(-40%)
      color: $main-second-color
  & > svg
    width: 25px!important
    height: 25px!important


.nav-bar
  & a
    color: $white-color
    margin: 0px 10px 0px 0px
    &:hover
      color: #fff
  & svg
    width: 20px
    height: 20px
    align-self: center
    fill: $white-color



.dropdown-link-title
  & > div
    width: 300px
    top: 120%
    border-radius: 0
    padding: 5px 10px
    & .nav-link
      margin: 0
      display: block
      padding: 7px 15px
      border-bottom: 1px solid $light-grey
      color: $blue!important
      &:hover
        color: $blue!important
      &:last-child
        border: none
  & > button
    color: #fff
    background-color: transparent!important
    border: none!important
    outline: none!important
    box-shadow: none!important
    font-size: 1.1rem
    font-weight: 700
    &:after
      content: ''
      vertical-align: baseline!important
    &:first-child
      padding-left: 0


  & .drop-down-sub
    & > div
      width: 300px
      border-radius: 0
      padding: 5px 10px
      left: 104%
    & button
      border-bottom: 1px solid $light-grey!important
      border-right: none
      border-left: none
      border-top: none
      width: 100%
      background-color: transparent!important
      outline: none!important
      box-shadow: none!important
      color: $blue!important
      text-align: left
      border-radius: 0
      &:after
        display: inline-block
        margin-left: .255em
        vertical-align: .255em
        content: ""
        border: none
        position: absolute
        right: 10px
        top: 10px
        width: 20px
        height: 20px
        background-image: url("/icons/ios-arrow-right-blue.svg")
        background-size: contain
    &  a
      margin: 0
      border-bottom: 1px solid $light-grey
      display: block
      padding: 7px 15px
      color: $blue!important
      &:hover
        color: $blue!important
      &:last-child
        border: none!important


.rgt-link
  & > div
    &:hover svg
      fill: #fff
    & > div
      & button
        background-color: transparent!important
        border: none
        font-size: .9rem
        font-weight: 400
        box-shadow: none!important
        outline: none
      & > svg
        fill: $light-grey
        width: 20px
        height: 20px
        align-self: center


.sub-menu-collapse
  &.show
    transition: all .2s ease
    transform: translate(0px, 0px)
  &.hide
    transform: translate(1000px, 0px)
  top: 0
  width: 100%
  padding: 15px 0px
  & > div:first-child
    padding-bottom: 5px
    & button
      border: none
      outline: none
      background-color: transparent!important
      font-size: 1.1rem
      font-weight: 600
      color: #fff
      &:before
        content: ""
        display: inline-block
        width: 20px
        height: 20px
        background-image: url(/icons/ios-arrow-left.svg)
        background-size: contain
        vertical-align: middle
  & > div:last-child
    & > div
      padding: 5px 0px
      & button
        outline: none
        background-color: transparent!important
        color: #fff
        border: 1px solid #fff
        width: 100%
        text-align: left
        &:after
          display: inline-block
          margin-left: .255em
          vertical-align: .255em
          content: ""
          border: none
          position: absolute
          right: 10px
          top: 10px
          width: 20px
          height: 20px
          background-image: url("/icons/ios-arrow-right.svg")
          background-size: contain
    & > a
      padding: 6px 15px
      color: #fff!important
      font-size: 1rem
      display: block
      width: 100%
      border: 1px solid #fff
      border-radius: 4px
      margin: 5px 0px


.dropdown-languages-btn
  & > div > div
    position: absolute!important


.dropdown-link-title
  & > div
    padding: 0
    position: relative
    &:before
      content: ""
      position: absolute
      width: 0
      height: 0
      top: -15px
      left: 50px
      border: 15px solid transparent
      border-bottom-color: $light-grey-blue
      border-top: 0
  & > div > div
    width: 800px
    height: 600px
    & > div
      padding: 15px
      &:first-child > p
        &.hover-active
          background-color: $main-color
          color: #fff!important
          & a
            color: #fff!important
          & svg
            opacity: 1
        &
          padding: 10px 0px 10px 15px
          display: block
          & > svg
            opacity: 0
            position: absolute
            right: 0
      &:last-child > a
        color: $blue!important
        font-size: 1.2rem
        font-weight: bold
        &:hover
          text-decoration: underline!important
      & a
        color: $grey-333!important
        font-size: .8rem
        &:hover
          color: $blue!important
      & a.title-link
        color: $main-color!important
        font-size: .9rem
        &:hover
          text-decoration: underline!important
      &:first-child
        background-color: $light-grey-blue
        & a
          font-size: 1rem
      &:last-child
        overflow-y: scroll
        background-color: #fff
  & .link-more > a
    color: $blue!important
    font-size: .9rem
    &:hover
      text-decoration: underline!important
    & > span
      padding: 5px 0px
      font-weight: bold
    & > svg
      fill: $blue
      width: 15px
      height: auto
      margin-left: 5px
      vertical-align: text-bottom



.dropdown-account-authenticated-btn > div
  top: 130%
  left: -50px
  width: 200px
  padding-bottom: 0!important
  &:before
    content: ''
    position: absolute
    width: 0
    height: 0
    top: -15px
    left: 50px
    border: 15px solid transparent
    border-bottom-color: #fff
    border-top: 0
  & p
    border-bottom: 1px solid $light-grey
    display: flex
    align-items: center
    transition: all .3s ease
    &:last-child
      border-bottom: none
    &:hover
      background-color: $main-color
      & a, & button
        color: #fff!important
      & svg
        fill: #fff!important
  & a
    color: $grey-333!important
    padding: 10px
    display: block
  & button
    color: $grey-333!important
    padding: 10px
    font-size: 1rem!important
  & svg
    fill: $grey-333!important
    margin-left: 10px


.dropdown-account-btn > div
  margin: 0px
  width: 1000px
  left: -500px
  top: 130%
  &:before
    content: ''
    position: absolute
    width: 0
    height: 0
    top: -15px
    left: 500px
    border: 15px solid transparent
    border-bottom-color: #fff
    border-top: 0


.drop-down-recently > div
  margin: 0px
  width: 1000px
  left: -500px
  top: 130%
  padding: 15px
  height: auto
  &:before
    content: ''
    position: absolute
    width: 0
    height: 0
    top: -15px
    left: 500px
    border: 15px solid transparent
    border-bottom-color: #fff
    border-top: 0
  & > div:first-child
    border-bottom: 1px solid $light-grey
    & > svg
      fill: #212529!important
      width: 40px
      height: 40px
      margin-right: 10px
    & > h2
      color: #212529
  & > div:last-child
    & > div:first-child
      border-right: 1px solid $light-grey
      & > p:first-child
        font-size: 1.5rem
        font-weight: bold
      & > a
        color: $blue!important
        &:hover
          text-decoration: underline!important
    & > div:last-child
      & > p
        color: $light-grey


.dropdown-button-drop-order > div
  margin: 0px
  padding: 15px
  width: 900px
  left: -600px
  top: 130%
  height: auto
  &:before
    content: ''
    position: absolute
    width: 0
    height: 0
    top: -15px
    right: 250px
    border: 15px solid transparent
    border-bottom-color: #fff
    border-top: 0


.dropdown-drop-saved > div
  margin: 0px
  width: 850px
  left: -750px
  top: 130%
  padding: 15px
  height: auto
  &:before
    content: ''
    position: absolute
    width: 0
    height: 0
    top: -15px
    right: 50px
    border: 15px solid transparent
    border-bottom-color: #fff
    border-top: 0
  & > div:first-child
    border-bottom: 1px solid $light-grey
    & > svg
      fill: #212529!important
      width: 40px
      height: 40px
      margin-right: 10px
    & > h2
      color: #212529
  & > div:last-child
    & > div:first-child
      border-right: 1px solid $light-grey
      & > p:first-child
        font-size: 1.5rem
        font-weight: bold
      & > a
        color: $blue!important
        &:hover
          text-decoration: underline!important
    & > div:last-child
      & > p
        color: #212529


/*-----Mobile Menu-----*/
.collapse-navbar
  & > div > button
    border: none
    background-color: transparent
    color: #fff
    position: relative
    padding-top: 10px
    padding-bottom: 0px
    width: 100%
    &:before
      content: ''
      width: 25px
      height: 25px
      position: absolute
      background-position: center
      background-repeat: no-repeat
      background-size: contain
      background-image: url(/icons/ios-arrow-left.svg)
      left: 0
      top: 5px
.item-mobile-menu
  border: 1px solid !important
  padding: 10px 15px !important
  margin: 10px 0px
  border-radius: 5px
  text-align: left
  width: 100%
  color: #fff
  font-size: 1rem
  cursor: pointer
  position: relative
  &.has-child
    &:after
      content: ''
      width: 30px
      height: 30px
      position: absolute
      background-position: center
      background-repeat: no-repeat
      background-size: contain
      background-image: url("/icons/ios-arrow-right.svg")
      right: 0
      top: 5px


/*-----Search------*/
.form-search-wrap
  & .result-search
    width: 100%
    height: 400px
    background: #fff
    position: absolute
    top: 100%
    z-index: 8
    border: 1px solid $grey-blue
    box-shadow: 1px 5px 8px rgb(0, 0, 0, .3)
    padding-top: 5px
    padding-bottom: 5px
    & > div:last-child
      & > div
        padding: 10px 0px
        border-bottom: 1px solid $grey-blue
        &:last-child
          border: none
        & .product-image
          & img
            object-fit: cover!important
        & .product-name
          & a
            & p
              color: $blue!important
              display: -webkit-box
              font-size: .9rem
              -webkit-line-clamp: 3
              -webkit-box-orient: vertical
              overflow: hidden
            &:hover
              & p
                text-decoration: underline
    & > div:first-child
      border-right: 1px solid $grey-blue
      & div
        padding: 8px 0px
        cursor: pointer
        & p
          color: $blue
          font-weight: bold
          font-size: .9rem
        &:hover
          background: $light-grey-blue


@media print
  .header-wrap
    display: none


@media screen and (max-width: 992px)
  .dropdown-link-title
    padding: 5px 0px
    & > button
      width: 100%
      text-align: left
      border: 1px solid!important
      padding: 10px 15px!important
      border-radius: 5px
      &:after
        display: inline-block
        margin-left: .255em
        vertical-align: middle
        content: ""
        border: none
        position: absolute
        right: 10px
        width: 20px
        height: 20px
        background-image: url("/icons/ios-arrow-right-blue.svg")
        background-size: contain
  .rgt-link
    & > div
      & > div
        padding: 5px 0px
        width: 100%
        & button
          border: 1px solid!important
          padding: 10px 15px!important
          border-radius: 5px
          text-align: left
          width: 100%
          color: #fff
          font-size: 1rem
          &:after
            content: ""
            border: none
  .collapse-navbar
    & .nav-bar
      padding-left: 0
  .top-nav-link
    & a, & .dropdown-languages-btn
      border-right: none!important
  .dropdown-link-title
    & > div
      display: none!important
  .nav-bar:first-child
    border-bottom: none
  .nav-bar:last-child
    overflow: hidden

@media screen and (max-width: 740px)
  .nav-bar
    & .icon-brand
      width: 70px

@media screen and (max-width: 650px)
  .nav-bar
    & .icon-brand
      width: 50px
    & .form-search-nav
      & input
        padding-right: 40px!important
      & button
        right: 10px!important


@media screen and (max-width: 590px)
  .nav-bar
    &  > a
      margin-right: 0
      & > span
        margin-right: 0
  .form-search-wrap
    padding-left: 0!important
    & .result-search
      & > div:first-child
        &  p
          font-size: .8rem!important
  .item-mobile-menu
    font-size: .9rem
    &.has-child
      &:after
        content: ''
        width: 25px
        height: 25px





@media screen and (max-width: 420px)
  .toggle-button
    font-size: 1.1em!important
  .form-search-wrap
    padding-right: 0!important
    & button
      right: 8px
      & svg
        width: 15px
        height: 15px
    & input
      height: 35px!important
      font-size: .8rem
      padding-right: 30px





