@import '../../main-constant'




.preloader-spinner
  display: none


.loading-transition
  opacity: .3
  & .preloader-spinner
    z-index: 3
    opacity: 1
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    display: block



.container-products
  & h1
    color: #000



.wrap-product-list
  button[disabled='true']
    opacity: .5
    cursor: default
  & .filters-products
    position: sticky
    padding-top: 15px
    padding-bottom: 15px
    overflow-y: scroll
    border: 1px solid $light-grey
    top: 15px
    height: 90vh
    & .sticky-container
      height: calc(100vh - 14px)
  & .products-list-container
    & .top-content-products
      border-top: 1px solid $light-grey
      border-bottom: 1px solid $light-grey
      & > p
        font-size: 1rem
        align-self: center
      & .dropdown-filters
        & > div
          padding: 15px
          width: 60%!important
          right: 0!important
          transform: translate(0px, 36px)!important
          left: auto!important
          & p
            cursor: pointer
            color: $main-color
            &:hover
              color: $blue
              text-decoration: underline!important
        & button
          background-color: #fff
          color: $main-color
          border: 1px solid $light-grey
          outline: none
          box-shadow: none!important
          width: 230px
          text-align: left
          padding-right: 30px
          &:after
            content: ''
            width: 30px
            height: 30px
            position: absolute
            right: 5px
            top: 0px
            border: none
            background-image: url("/icons/ios-arrow-right-blue.svg")
            background-size: contain
            transform: rotate(90deg)
      & .button-filter
        background-color: #fff
        border: 1px solid $main-color
        outline: none
        box-shadow: none!important
        border-radius: .25rem
        & svg
          width: 25px
          height: 25px
          fill: $blue
        & p
          margin-left: 10px
          color: $main-color
    & .item-product
      border-bottom: 1px solid $light-grey
      &:last-child
        border: none
      & .picture-product
        & img
          width: 100%
          height: 100%
          object-fit: contain
      & .info-product
        & a
          font-size: 1.2rem
          color: $blue
        & a:hover
          text-decoration: underline!important
        & .buttons-product
          border-radius: 5px
          & svg
            width: 20px
            height: 20px
            fill: $main-color
          & > div.active
            background-color: $blue
            & svg
              transition: all .3s ease
              fill: #fff
              & g
                transition: all .3s ease
                fill: #fff
            & > p
              color: #fff
          & p
            font-size: 1.1rem
            align-self: center
            padding-left: 10px
          & .button-compare, & .button-save
            cursor: pointer
            margin-right: 20px
            border: 1px solid $light-grey
            border-radius: 5px
            padding: 5px 0px
            justify-content: center
            margin-bottom: 10px
            transition: all .3s ease
            &:hover
              border-color: $blue
          & .button-save
            & svg
              fill: $main-color
    & .product-price-cart
      & p
        font-size: 1.4rem
        font-weight: 600
        color: #000
      & button
        padding: 10px
        background-color: $main-second-color
        color: $main-color
        border: none
        border-radius: 10px
        text-align: center
        width: 100%
        transition: all .3s ease
        & > p
          font-size: 1rem
          align-self: center
          color: $main-color
          font-weight: 500
        &:hover
          background-color: $color-hover-green
        & svg
          fill: $main-color
          width: 30px
          height: 30px
          margin-right: 10px


.pagination
  & p
    font-size: 1.2rem
    font-weight: 600
    color: $blue
    padding: 5px 10px
    & > a:hover
      text-decoration: underline!important
    &.active
      & > a
        color: $main-color
        &:hover
          text-decoration: none!important


.added-cart
  background-color: $light-grey
  padding: 10px
  color: $main-color
  border-radius: 10px
  text-align: center
  width: 100%
  transition: all .3s ease
  & > span
    font-size: 1rem
    align-self: center
    color: $main-color
    font-weight: 500
  & svg
    fill: $main-color
    width: 30px
    height: 30px
    margin-right: 10px
  &:hover
    background-color: #AFAFB5



.info-settings
  & > div
    display: flex
    align-items: center
    & .icon
      width: 20px
      height: 20px
      margin-right: 7px
      & > svg
        width: 100%
        height: 100%
        fill: $black
    & p
      margin-bottom: 0!important
      font-weight: 600
      & span
        font-weight: 400


.spinner-button
  margin-left: 10px
  align-self: center
  width: 25px
  height: 25px


.rating-block
  & button
    border: none
    background: transparent
    outline: none!important
    & svg
      width: 16px
      height: 15px
      transition: all .3s ease
    &:hover svg
      fill: #ffbf00
  & span
    vertical-align: middle



/*----Filter----*/


.filter_value_groups
  &.dropdown-filters
    height: 230px
    overflow: hidden
    transition: all .3s ease
    &.active_block
      & .show_more
        & > svg
          transform: rotate(180deg)
  & .show_more
    position: absolute
    bottom: 0
    width: 100%
    left: 0
    background: #fff
    border: none
    & > svg
      transition: transform .3s ease
      fill: $blue
  & > p
    font-weight: bold
    font-size: 1rem
    margin-bottom: 15px
  & .filter_attributes_values
    & .check_box
      width: 16px
      height: 16px
      cursor: pointer
      border-radius: 4px
      border: solid #55555a
      border-width: 1px 1px 2px
      background-image: -webkit-linear-gradient(315deg,#fff,#fff 50%,#e0e6ef 0,#e0e6ef)
      background-image: linear-gradient(135deg,#fff,#fff 50%,#e0e6ef 0,#e0e6ef)
      font-size: .75rem
      text-align: center
    & > p
      font-size: .9rem
      font-weight: 500
      margin-bottom: 0px!important
      width: 90%
  & .range_input_price
    & form
      justify-content: space-around
      width: 90%
      align-items: center
      & input
        outline: none
        padding-top: 5px
        border: 1px solid $light-grey
        padding-left: 5px
        box-shadow: inset 1px 2px 0 0 rgba(197, 203, 213, .5)
        border-radius: 4px
        width: 80px
        padding-bottom: 5px
        font-size: .9rem
        &:focus
          box-shadow: 0px 0px 3px $blue
          border-color: rgba(0,122,255,.8)
    & span
      font-size: .8rem
      padding-left: 5px
    & button
      right: 0
      background: transparent
      border: none
      & > svg
        fill: $blue

.filter-categories
  & a
    color: $blue
    &:hover
      text-decoration: underline!important
      color: $main-color
  & p
    color: $blue



.overlay-filter
  left: 0
  top: 0
  background-color: rgba(0,0,0,.8)
  z-index: 99
  cursor: pointer
  visibility: hidden
  &.active
    visibility: visible


.filters-list-selected
  padding: 15px
  & .filters-list-block
    & > div
      padding: 5px 10px
      border: 1px solid $light-grey
      margin: 5px 10px
      border-radius: 3px
      font-size: .9rem
      & > button
        background-color: transparent
        color: $blue
        border: none
        outline: none
        width: 20px
        height: 20px
        margin-left: 10px
        & > svg
          fill: rgba(0,70,190,1)
          width: 100%
          height: 100%
          vertical-align: baseline
  & > button
    background-color: transparent
    color: $blue
    border: none
    outline: none
    &:hover
      text-decoration: underline



/*----Media Queries------*/
@media screen and (max-width: 991px)
  .wrap-product-list
    button[disabled='true']
      opacity: .5
      cursor: default
    & .filters-products
      position: fixed
      z-index: 99
      background: #fff
      right: 0
      height: 100vh
      width: 0%
      top: 0
      transition: all .3s ease
      &.active
        width: 100%
    & .products-list-container
      & .top-content-products
        background-color: $grey-blue
        & .dropdown-filters
          & button
            width: 100%
      & .add-cart-button, & .added-cart
        border: 1px solid #dee2e6
        border-radius: 5px
        padding: 5px 0px
        justify-content: center
        margin-bottom: 10px
        transition: all 0.3s ease
        width: 100%
      & .add-cart-button
        background-color: $main-second-color
      & .added-cart
        & span
          font-size: .9rem
    & .picture-product
      height: 200px

@media screen and (max-width: 700px)
  .wrap-product-list
    & .products-list-container
      & .top-content-products
        & > p
          font-size: 1.1rem
        & .dropdown-filters
          & button
            width: 100%
            font-size: .9rem
            &:after
              content: ''
              top: 7px
              width: 20px
              height: 20px
          & > div
            font-size: .9rem
        & .button-filter
          font-size: .9rem
          & svg
            width: 20px
            height: 20px
      & .item-product
        & .info-product
          & a
            font-size: 1.1rem
          & .buttons-product
            & svg
              width: 25px
              height: 25px
            & p
              font-size: 1rem
        & .product-price-cart
          & p
            font-size: 1.2rem!important
          & button
            border-radius: 6px
            & > p
              font-size: .9rem!important
            & svg
              width: 25px!important
              height: 25px!important
          & .added-cart
            border-radius: 6px
            & > span
              font-size: .9rem
            & svg
              width: 25px!important
              height: 25px!important
    & .filter_value_groups
      & > p
        font-size: .9rem

    .filter-categories
      & a
        font-size: .9rem





@media screen and (max-width: 400px)
  .wrap-product-list
    & .products-list-container
      & .item-product
        & .info-product
          & a
            font-size: 1rem
          & .buttons-product
            & svg
              width: 20px
              height: 20px
            & p
              font-size: .9rem
        & .product-price-cart
          & p
            font-size: 1rem!important
          & button
            & > p
              font-size: .9rem!important
            & svg
              width: 25px!important
              height: 25px!important
    & .info-settings
      & p
        font-size: .7rem
  .rating-block
    font-size: .8rem
    & button
      & svg
        width: 13px
        height: 11px
  .info-product
    & h3
      font-size: 1.5rem



