@import '../../main-constant'

.wrap-carousel-products
  overflow: hidden
  & .top-element-carousel
    min-height: 250px
    padding: 10px
    border: 1px solid $light-grey
    border-radius: 0.5rem
    overflow: hidden
    height: 100%
    margin-bottom: 10px
    & > button
      background-color: transparent
      border: none
      outline: none
      top: 130px
      z-index: 3
      &.controls-carousel
        & svg
          fill: $blue
      & > svg
        fill: $light-grey
        width: 30px
        height: 30px
      &:first-child
        left: 5px
      &:last-child
        right: 5px
  & .picture-product
    height: 100px
    &:hover > img
      transform: scale(1.2) translateY(-10px)
    & > img
      width: 100%
      height: 100%
      transition: all .4s ease
      object-fit: contain
  & .top-info
    & > a
      &:hover
        text-decoration: underline!important
      & > p
        color: $blue
        font-size: .95rem
        overflow: hidden
        line-height: 1.6
        display: -webkit-box
        -webkit-line-clamp: 2
        -webkit-box-orient: vertical
  & .bot-info
    & > p
      font-weight: 600
      font-size: 1rem
      margin-top: 10px
    & > p:nth-child(2)
      font-weight: 500
      text-decoration: line-through


.bot-element-product
  padding: 10px
  border: 1px solid $light-grey
  border-radius: 0.5rem
  & > div:first-child
    & p
      font-size: 1rem
      & > span
        color: #fff
        background-color: $dark-red
        padding: 3px
        margin-right: 5px
  & > div:last-child
    & .picture-product-bot
      & > div
        height: 180px
        & img
          width: 100%
          height: 100%
          object-fit: contain
    & .product-name
      font-size: 1rem
      color: $blue
    & > div:last-child
      & > p
        margin-top: 10px
      & > p:last-child
        text-decoration: line-through


.timer-block-sale
  & > div
    color: $dark-red

.element-carousel
  & > p:first-child
    font-size: 1.6rem
  & > p:nth-child(2)
    color: $black
  & > button
    background-color: transparent
    border: none
    outline: none
    top: 150px
    &.controls-carousel
      & > svg
        fill: $blue
    & > svg
      fill: $light-grey
      width: 30px
      height: 30px
    &:nth-of-type(1)
      left: 3%
    &:last-child
      right: 3%
  & .picture-product
    height: 150px
    &:hover > img
      transform: scale(1.2) translateY(-10px)
    & > img
      width: 100%
      height: 100%
      transition: all .4s ease
      object-fit: contain
  & .top-info
    & > a
      &:hover
        text-decoration: underline!important
    &  > p
        color: $blue
        font-size: 1rem
  & .bot-info
    & > p
      font-weight: 600
      font-size: 1rem
      margin-top: 10px
    & > p:nth-child(2)
      font-weight: 500
      text-decoration: line-through


.rating-block
  & button
    background-color: transparent
    border: none
    outline: none
    & svg
      width: 12px
      height: 12px
      transition: all .3s ease
      fill: #ffbf00
      &:hover svg
        fill: #ffbf00
  & span
    color: $blue
    font-size: .8rem



@media screen and (max-width: 992px)
  .wrap-carousel-products
    overflow: hidden
    & .top-element-carousel
      margin-top: 15px
      min-height: auto
      border: none
      & > button
        display: none
    & .bot-element-product
      border: none
  .element-carousel
    & > button
      display: none


@media screen and (max-width: 520px)
  .bot-element-product
    & > div:first-child
      & p
        font-size: .9rem
    & > div:last-child
      & .picture-product-bot
        & > div
          height: 180px
          & img
            width: 100%
            height: 100%
            object-fit: contain
      & .product-name
        font-size: .9rem






