@import '../../main-constant'

.carousel-wrap
  overflow: hidden
  position: relative
  & .carousel-controls
    bottom: 2%
    z-index: 3
    left: 80%
    position: absolute
    & > ul
      border: 1px solid $light-grey
      display: flex
      background-color: hsla(0,0%,100%,.9)
      border-radius: .75rem
      padding: 0.2rem 1rem 0.2rem 1rem
      & > li
        margin: 0px 5px
        &:first-child
          margin-left: 0
        &:last-child
          margin-right: 0
      & > li button
        background-color: transparent
        border: none
        outline: none
        & svg
          fill: #55555a
          width: 15px
          height: 15px
        &:nth-child(2) > svg
          fill: $blue!important
          width: 1.6rem!important
          height: 1.7rem!important
          margin: 0rem 1rem 0rem 1rem
  & .banner_text
    padding: 15px 25px
    position: absolute
    top: 0
    & a
      display: block
      width: 150px
      margin-top: 15px
      background-color: $blue
      color: #fff
      font-weight: bold
      padding: 10px 15px
      border-radius: 7px
      transition: all .3s ease
      &:hover
        background-color: rgb(1, 93, 202)


.slick-container
  & > div > div > div > div
    height: 100%
    & img
      object-fit: cover


.banner-pause-play
  & svg
    fill: $blue!important
  & svg circle
    stroke-dasharray: 100
    stroke-dashoffset: 50
    stroke: $blue
    animation-name: stroke
    animation-duration: 3.5s
    animation-timing-function: ease-in-out
    animation-fill-mode: forwards
    animation-iteration-count: infinite



@keyframes stroke
  100%
    stroke-dasharray: 50



/*-------Media Queries---------*/
@media (max-width: 992px)
  .slick-container
    border-radius: 0!important
  .carousel-wrap
    & .carousel-controls
      left: 50%
      transform: translateX(-50%)
      & ul
        border: none
      .carousel-wrap
        overflow: hidden
        position: relative
  .image-banner-home
    height: 230px
  .banner_text
    position: relative!important
    & h1
      font-size: 2rem
    & .banner-description-text
      height: 40px
      overflow: hidden
      text-overflow: ellipsis
      -webkit-line-clamp: 2
      display: -webkit-box
      -webkit-box-orient: vertical
    & a
      padding: 8px 15px
  .carousel-controls
    & button.active
      & svg
        fill: $blue


@media (max-width: 500px)
  .banner_text
    & h1
      font-size: 1.8rem
    & p
      font-size: .9rem
    & a
      font-size: .9rem
      width: 130px!important
      text-align: center
      padding: 8px 10px!important


