@import '../../main-constant'

.recently-wrap
  & .link-recently-all
    color: #fff
    &:hover
      text-decoration: underline!important
  & > div
    padding: 15px
    & > div:first-child
      background-color: $main-color
      border-radius: 10px 0px 0px 10px
      & > div
        & > p
          color: #fff
      & > div p:first-child
        text-transform: uppercase
        font-size: 1.3rem
        margin-bottom: 0
        align-self: center
        padding-left: 10px
      & p
        color: #fff
      & > div > div > svg
        width: 40px
        height: 40px
        fill: #fff
    & > div:last-child
      background-color: $grey-blue
      border-radius: 0px 10px 10px 0px
      padding: 10px
      & .recent-item
        background-color: #fff
        border: 1px solid $light-grey
        margin-right: 5px
        & > div:first-child
          height: 120px
          padding: 10px
          & > img
            width: 100%
            height: 100%
            object-fit: contain
        & > div:last-child
          padding: 10px 5px
          & > p
            color: $black
            font-size: .8rem
          & > div > a:first-child
            display: block
            overflow: hidden
            color: $blue
            font-size: .8rem
            & > p
              text-overflow: ellipsis
              -webkit-line-clamp: 2
              display: -webkit-box
              -webkit-box-orient: vertical
            &:hover
              text-decoration: underline!important
            &:last-child
              font-size: 1rem
      & > .button-see-more
        display: flex
        align-items: center
        background-color: $blue
        color: #fff
        border: none
        outline: none
        padding: 15px
        margin-left: 5px


.picture-item
  max-height: 150px
  min-width: 50px



.mobile__recently_block
  & > div:first-child
    background-color: transparent!important
    & p:first-child
      font-size: 1.6rem
      color: #212529!important
  & .mobile__recently_slick-container
    padding-top: 25px!important



/*-----Media Queries--------------*/

@media (max-width: 991px)
  .recently-wrap
    & > div
      padding: 15px
      & > div:last-child
        background: transparent
    & .recent-item
      flex-direction: column
      border-color: transparent!important
