@import '../../main-constant'

.added-cart
  background-color: $light-grey
  padding: 5px 0px
  color: $main-color
  border-radius: 5px
  text-align: center
  width: 100%
  transition: all .3s ease
  & > span
    font-size: 1rem
    align-self: center
    color: $main-color
    font-weight: 500
  & svg
    fill: $main-color!important
    width: 30px
    height: 30px
    margin-right: 10px
  &:hover
    background-color: #AFAFB5
    & svg
      fill: $main-color!important


.add-cart-button
  border: 1px solid #dee2e6
  border-radius: 5px
  padding: 5px 0px
  justify-content: center
  margin-bottom: 10px
  background-color: $main-second-color
  transition: all 0.3s ease
  width: 100%

.spinner-button
  width: 1.5rem
  height: 1.5rem

.products-carousel-buy
  padding: 10px
  overflow: hidden
  & .btn-buy-product
    background-color: $main-second-color!important
    border: none
    outline: none
    border-radius: 5px
    padding: 6px 0px
    justify-content: center
    font-size: 1rem
    color: $main-color!important
    font-weight: bold
    transition: all .3s ease
    & > svg
      fill: $main-color!important
      margin-right: 10px
      vertical-align: text-bottom
    &:hover
      background-color: $green-hover !important
  & .controls-button
    &.active
      & > svg
        fill: $blue!important
    & > svg
      fill: $light-grey!important
      width: 30px
      height: 30px
    &:first-child
      left: 10px
      top: 30%
    &:last-child
      right: 10px
      top: 30%
  & .picture-product
    height: 80px
    & > img
      width: 100%
      height: 100%
      object-fit: contain
  & .top-info
    & > div:last-child
      & > p
        padding: 5px 0px
        overflow: hidden
        height: 55px
        line-height: 1.6
        display: -webkit-box
        -webkit-line-clamp: 2
        -webkit-box-orient: vertical
        & > a
          color: $blue!important
          font-size: .9rem
          &:hover
            text-decoration: underline!important
      & > div:last-child
        & .discount-price
          text-decoration: line-through
