@import "../../main-constant"

.wrap-top-content
  border-bottom: 1px solid $light-grey

.bread-crumbs
  display: flex
  margin-top: 20px
  padding: 10px 0px
  & > p
    padding-right: 10px
    &:after
      content: ""
      display: inline-block
      width: 20px
      vertical-align: middle
      height: 20px
      margin-left: 5px
      background-image: url(/icons/ios-arrow-right-blue.svg)
      background-size: contain
    &:last-child:after
      content: ""
      display: none
    & > a
      color: $blue!important
      &:hover
        color: $main-color!important
        text-decoration: underline!important


.hello-block
  padding: 40px
  & > div:first-child p
    font-size: 1.3rem
  & > div:first-child > p:first-child
    font-weight: bold
    color: $blue
    font-size: 4rem
  & > div button
    width: 100%
    border: 1px solid #007aff
    padding: 10px
    color: #007aff
    background: transparent
    outline: none
    font-weight: bold







@media screen and (max-width: 600px)
  .hello-block
    padding-left: 0!important
    padding-right: 0!important
    & > p
      font-size: 1rem
    & > p:first-child
      font-size: 2.5rem
  .bread-crumbs
    & p
      font-size: .9rem!important
      padding-right: 5px!important
      &:after
        content: ''
        width: 15px
        height: 15px
