@import 'main-constant'


@font-face
  font-family: $font-family
  src: url('../public/fonts/Montserrat-Regular.ttf')
  src: local('Montserrat Light'),  url('../public/fonts/Montserrat-Light.ttf') format('truetype')
  font-weight: 300
  font-style: normal

@font-face
  font-family: $font-family
  src: url('../public/fonts/Montserrat-Italic.ttf')
  src: local('Montserrat Light Italic'),  url('../public/fonts/Montserrat-LightItalic.ttf') format('truetype')
  font-weight: 300
  font-style: italic

@font-face
  font-family: $font-family
  src: url('../public/fonts/Montserrat-Regular.ttf')
  src: local('Montserrat Regular'),  url('../public/fonts/Montserrat-Regular.ttf') format('truetype')
  font-weight: 400
  font-style: normal

@font-face
  font-family: $font-family
  src: url('../public/fonts/Montserrat-Italic.ttf')
  src: local('Montserrat Italic'),  url('../public/fonts/Montserrat-Italic.ttf') format('truetype')
  font-weight: 400
  font-style: italic



@font-face
  font-family: $font-family
  src: url('../public/fonts/Montserrat-Medium.ttf')
  src: local('Montserrat Medium'),  url('../public/fonts/Montserrat-Medium.ttf') format('truetype')
  font-weight: 500
  font-style: normal

@font-face
  font-family: $font-family
  src: url('../public/fonts/Montserrat-MediumItalic.ttf')
  src: local('Montserrat Medium Italic'),  url('../public/fonts/Montserrat-MediumItalic.ttf') format('truetype')
  font-weight: 500
  font-style: italic


@font-face
  font-family: $font-family
  src: url('../public/fonts/Montserrat-Bold.ttf')
  src: local('Montserrat Semi Bold'),  url('../public/fonts/Montserrat-SemiBold.ttf') format('truetype')
  font-weight: 600
  font-style: normal

@font-face
  font-family: $font-family
  src: url('../public/fonts/Montserrat-BoldItalic.ttf')
  src: local('Montserrat Semi Bold Italic'),  url('../public/fonts/Montserrat-SemiBoldItalic.ttf') format('truetype')
  font-weight: 600
  font-style: italic


@font-face
  font-family: $font-family
  src: url('../public/fonts/Montserrat-Bold.ttf')
  src: local('Montserrat Bold'),  url('../public/fonts/Montserrat-Bold.ttf') format('truetype')
  font-weight: 700
  font-style: normal

@font-face
  font-family: $font-family
  src: url('../public/fonts/Montserrat-BoldItalic.ttf')
  src: local('Montserrat Bold Italic'),  url('../public/fonts/Montserrat-BoldItalic.ttf') format('truetype')
  font-weight: 700
  font-style: italic