@import 'main-constant'
@import 'fonts'


html,
body
  font-family: $font-stack
  font-size: 0.9rem

a
  text-decoration: none!important

ul
  list-style: none!important

button
  outline: none!important

h1, h2, h3, h4
  font-weight: 600

img
  width: 100%
  height: 100%


.img-contain
  object-fit: contain

.img-cover
  object-fit: cover


*
  box-sizing: border-box
  padding: 0
  margin: 0


.color-text-white
  color: yellow


.input-group-phone
  & > span
    border-radius: .25rem 0px 0 0.25rem
  & input
    border-radius: 0rem 0.25rem 0.25rem 0!important

/*-----Buttons----*/



.add-cart-button, .add-compare-button
  border: none
  border-radius: 5px
  outline: none
  background-color: $main-second-color
  transition: all .3s ease
  align-items: center
  &.added-cart, &.added-compare
    background-color: $light-grey!important
    &:hover
      background-color: #AFAFB5!important
      color: $main-color
  & > svg
    width: 30px
    height: 30px
    margin-right: 10px
    fill: $main-color!important
  &:hover
    background-color: $color-hover-green !important


.add-save-button
  border-radius: 5px
  outline: none
  background-color: transparent
  transition: all .3s ease
  color: $main-color
  border: 1px solid $light-grey
  font-weight: 400!important
  & > svg
    fill: $main-color!important
    width: 30px
    height: 30px
  &:hover
    border-color: $blue
  &.added-save
    font-weight: 500
    background-color: $blue
    border-color: $blue!important
    color: #fff
    & > svg
      fill: $white-color!important





/*------Global style Slick Carousel STAR----*/

.slick-list
  overflow: hidden

.slick-list, .slick-track
  touch-action: pan-y

.slick-dots
  display: flex!important
  position: absolute
  z-index: 3
  top: 95%
  left: 50%
  transform: translateX(-50%)
  & li
    margin: 0px 5px
    & button
      width: 10px
      height: 10px
      border-radius: 50%
      color: transparent
      border: none
      background: #fff
      box-shadow: 0px 0px 5px rgba(0,0,0,.5)
    &.slick-active
      & button
        background: $blue

#carousel-product
  & .slick-slider
    overflow: hidden
    & .slick-slide
      padding: 10px




#carousel-home
  height: 100%
  & .slick-slider
    height: 100%
    & .slick-list
      height: 100%
      & .slick-track
        height: 100%
        & .slick-slide
          height: 100%
          overflow: hidden
          border-radius: 0.5rem

.slick-track
  display: flex


#slide-nav-preview
  & .slick-list
    overflow: hidden
    & .slick-slide
      width: 100px!important
      height: 100px!important
      & img
        width: 100%
        height: 100%
        object-fit: contain

/*------Global style Slick Carousel END----*/

/*-------Media Queries------------*/

@media screen and (max-width: 992px)
  #carousel-home
    height: 450px
    & .slick-slider
      & > div > ul
        & li.slick-active
          & svg
            fill: $blue
      & .slick-list
        & .slick-track
          & .slick-slide
            border-radius: 0
